<!-- Twitter / X timeline sidebar widget -->
<div class="sidebar-bottom-box">
  <a class="twitter-timeline"
     data-theme="dark"
     data-chrome="noheader nofooter noborders transparent"
     data-tweet-limit="5"
     href="https://twitter.com/wforney">
    Tweets by @wforney
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- Buy Me a Coffee -->
<div class="sidebar-bottom-box text-center mt-2">
  <a href="https://buymeacoffee.com/wforney" target="_blank" rel="noopener">
    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
         alt="Buy Me A Coffee"
         style="height: 40px; border-radius: 6px;" />
  </a>
</div>
